{% extends "project/menu.html" %}
{% load static %}
{% load project_tags %}
{% block title %}

    {% for i in text2 %}
        {% if forloop.counter0 == 0 %}
        {{ i.cat.name }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block doc %}
    {% for i in text2 %}
        {{ i.title }}<hr>
        {{ i.text }}<hr>
        {% if i.img %}
        <a href="{{ i.get_absolute_url }}"><img src="{{ i.img.url }}" alt="{{ i.title }}"></a><hr>
            {% else %}

        {% endif %}
    {% endfor %}
<script src="{% static "project/js/category03.js" %}"></script>
{% endblock %}