{% extends "project/menu.html" %}
{% load static %}
{% block title %}
    форма
{% endblock %}
{% block href %}
    {% static "project/css/form.css" %}
{% endblock %}
{% block doc %}
<form action="{% url "form2" %}" method="post">
{% csrf_token %}
    <div>{{ form.non_field.erors }}</div>
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
<button type="submit">ok</button>
</form>
{% endblock %}